.colaborador {
    background-color: var(--fundo-colaborador);
    text-align: center;
    width: 1216px;
    margin: 5em auto 5em auto;
    padding: 3em;
}

.foto__perfil {
    margin: 1em 0;
}

.colaborador__nome {
    margin-bottom: 0.5em;
    color: var(--preto-titulo);
    font-size: 16px;
    font-weight: 500;
}

.colaborador__descricao {
    color: var(--cinza);
    font-size: 14px;
    font-weight: 400;
}