
.profissoes {
    text-align: justify;
    width: 768px;
    margin: 0 auto;
}

.profissoes__descricao {
    border: 1px solid var(--cinza-borda);
    border-radius: 16px;
    padding: 1em 0.5em;
    margin-bottom: 1em;
}

.profissao__titulo {
    margin: 3em 0 1em 0;
    font-weight: 500;
    font-size: 20px;
    color: var(--preto-titulo);
}

.descricao__titulo {
    color: var(--preto-titulo);
    font-size: 18px;
    font-weight: 500;
}

.descricao__salario {
    display: inline-block;
    margin: 1.7em 1em 0 0;
    color: var(--cinza);
    font-size: 16px;
    font-weight: 500;
}